/* CSS Document */
img {
	width: 280px;
	border: 5px solid black !important
}
h5 {
	display: none
}
.row {
	margin: 10px !important
}
ul {
	margin-top: 50px
}
ul li {
	padding: 10px 15px;
	border: 2px solid black;
	margin-right: 10px;
	margin-bottom: 10px;
	font-weight: 700;
	cursor: pointer;
	transition: all .5s ease;
	color: aqua
}
ul li.active, ul li:hover {
	background-color: yellow;
	color: black;
	border: 2px solid black
}
ul li:last-of-type {
	margin-right: 0
}
.container-fluid {
	oveflow: hidden;
	padding: 0
}